name: CI

on: push

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, nightly-2022-11-16]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: hecrj/setup-rust-action@v1
      with:
        rust-version: ${{ matrix.rust }}
        components: clippy, rustfmt
    - run: cargo --version
    - run: rustc --version
    - name: Check
      shell: bash
      run: ./check.sh
